html, body {
    font-family: arial, sans-serif;
    background-color: #f1faee;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background: #1d3557 linear-gradient(90deg, hsla(210, 74%, 32%, 1) 0%, hsla(192, 61%, 36%, 1) 100%);;
    padding: 20px 40px;
}
.header-logo h1{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 10px 0;
}
.header-menu {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    position: relative;
    display: block;
    max-width: 1200px;
    background-color: #fff;
    margin: 0px auto;
    padding: 40px 60px;
}

.quizz-header-overlay{
    margin: 5rem 0;
}
.quizz-full-img {
    object-fit: cover;
    width: 100%;
    height: 20rem;
    min-height: 10rem;
}

.btn-alert-right {
    position: absolute;
    right: 10px;
}
